{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>Weather App</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label for="city">
        <input type="text" name="city" placeholder="City"/>
    </label>
    <button type="submit">Current Weather</button>
</form>

<div class="comparison-container">

    {% block content %}
    {% endblock %}

</div>

</body>
</html>